body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

header {
	background-color: #9f96969b;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	color: #f2f2f2;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
}

h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 40px;
}

img {
	max-width: 100%;
	margin-bottom: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
.btn-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ac971f8f;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
  }
  
  .btn-home:hover {
    background-color: #cfd5cc;
  }
  